
# 1. TERRAFORM (State Files & LocalStack Cache)

# Terraform provider cache directory
.terraform/
.terraform.lock.hcl

# Terraform state files (contains sensitive data & local infrastructure status)
*.tfstate
*.tfstate.*

# Local lock file generated on errors
.terraform.tfstate.lock.info

# Automatically compressed Lambda zip file
terraform/lambda_function.zip


# 2. PYTHON & VIRTUAL ENVIRONMENT

# Python compilation cache
__pycache__/
*.py[cod]
*$py.class

# Local Virtual Environment directories
venv/
.venv/
env/
ENV/


# 3. DOCKER & LOCALSTACK VOLUME

# LocalStack persistent data from docker-compose
volume/
*.log


# 4. OPERATING SYSTEM & EDITOR CACHE

.DS_Store
.idea/
.vscode/
*.swp
*.swo